<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HomeLabManager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="../icons/inventory.svg" class="nav-svg-icon" aria-hidden="true" />Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <img src="../icons/devices.svg" class="nav-svg-icon" aria-hidden="true" /> All Devices
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ManualRegister">
                <img src="../icons/content.svg" class="nav-svg-icon" aria-hidden="true" /> Manual Register
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register-image">
                <img src="../icons/qr-scan.svg" class="nav-svg-icon" aria-hidden="true" /> Register Image
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="components">
                <img src="../icons/component.svg" class="nav-svg-icon" aria-hidden="true" /> Components
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vendors">
                <span class="bi bi-building-fill-nav-menu" aria-hidden="true"></span> Vendors
            </NavLink>
        </div>



        @*end of the main nav bar section*@
    </nav>

    <nav class="nav flex-column nav-footer">
        <!--pinned to the bottom link-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <img src="../icons/settings.svg" class="nav-svg-icon" aria-hidden="true" /> Settings
            </NavLink>
        </div>
    </nav>

</div>
